<!DOCTYPE HTML>
<html>
	<head>
		<title>Recipe Recommender</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Recipe Recommender</h1>
				<p>A user interactive site to find your next recipe</p>
			</header>

		<!-- Signup Form -->

		<a href="{{ url_for('ingredients') }}">Get started</a>

		<!-- Scripts -->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
