<!DOCTYPE HTML>
<html>
	<head>
		<title>Recipe Recommender</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<p>You might be able to make the following recipes: </p>
			</header>

      <!-- now we just need to display the recipes in a nice manner -->
      



		<!-- Scripts -->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
